* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hight-set {
  height: 60vh;
  overflow: hidden;
  background: #262626;
  perspective: 7000px;
}
.purspective-set {
  transform-origin: center center;
  transform: rotateX(55deg) rotateZ(-45deg)
    translateX(calc(1000px - 45vw * 1.5)) translateY(-35vw);
  /* dynamic   */
}

.marquee-section {
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
}
.marquee-grid {
  width: 100%;
  display: grid;
  gap: 1vw;
}
.dynamic-grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.dynamic-grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.dynamic-grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
/* group 1: 3, 6, 9, ... */
.marquee-grid > .single-card:nth-child(3n) {
  animation-name: scrollUp;
}

/* group 2: 1, 4, 7, 10, ... */
.marquee-grid > .single-card:nth-child(3n + 1) {
  animation-name: scrollUp;
}

/* group 3: 2, 5, 8, 11, ... */
.marquee-grid > .single-card:nth-child(3n + 2) {
  animation-name: scrollDown;
}

.scroll-up {
  animation: scrollUp infinite;
}

.scroll-down {
  animation: scrollDown infinite;
}
.single-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3 / 2;
  background: #106066;
  border-radius: 10px;
  overflow: hidden;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: all 0.5s ease-in-out;
}
.single-card:hover {
  z-index: 10;
  scale: 1.04;
  transform: translateY(-10px);
  box-shadow: rgba(16, 96, 102, 0.1) 0px 14px 28px;
}

.card-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Move up */
@keyframes scrollUp {
  0% {
    transform: translateY(100px);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-100px);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    transform: translateY(100px);
  }
}

/* Move down */
@keyframes scrollDown {
  0% {
    transform: translateY(-100px);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50% {
    transform: translateY(100px);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    transform: translateY(-100px);
  }
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}
.rotate-control {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.controls button,
.rotate-control button {
  padding: 8px 15px;
  border: none;
  background: #106066;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.controls button:hover {
  background: #1a8f97;
}
.rotate-control label {
  color: #1a8f97;
  font-weight: bold;
  font-size: 14px;
}

.rotate-control input[type="number"] {
  width: 60px;
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid #555;
  background: #333;
  color: #fff;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
}

.rotate-controlcontrols input[type="number"]:focus {
  outline: none;
  border-color: #1a8f97;
}
